* {
   margin: 0;
   box-sizing: border-box
}

html {
   font-family: 'Work Sans', sans-serif;
}

.cal {
   position: relative;
   width: 364px;
   height: 582px;
   background: #17171C;
   margin: 100px auto;
   padding: 20px;
}

.screen {
   width: 324px;
   height: 96px;
   font-weight: 300;
   font-size: 96px;
   line-height: 96px;
   color: #FFFFFF;
   margin: 0 auto;
   text-align: right;
}

.buttons {
   margin-top: 16px;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(5, 1fr);
   grid-gap: 16px;
}

.calc_btn {
   width: 69px;
   height: 72px;
   background: #2E2F38;
   border-radius: 24px;
   color: #FFFFFF;
   font-size: 32px;
   text-align: center;
   font-weight: 400;
   border: none;

}

.c_btn {
   grid-column: 1/3;
   width: 100%;
   background: #4E505F
}

.zero_btn {
   grid-column: 1/4;
   width: 100%;
}

.blu_btn {
   background-color: #4B5EFC;
}

.icons {
   display: block;
   width: 32px;
   height: 32px;
   margin: 0 auto;
   
}